MYSQL_HOST="mysql:host=127.0.0.1;dbname=fast_food"
MYSQL_USERNAME="root"
MYSQL_PASSWORD="root"
APP_URL="http://localhost:9001"
RESEND_API_KEY="re_your_api_key_here"
RESEND_FROM_EMAIL="yourinfo@verifiedDomain.com"
