MYSQL_HOST="mysql:host=127.0.0.1;port=3306;dbname=fast_food"
MYSQL_USERNAME="root"
MYSQL_PASSWORD="root"
APP_URL=http://localhost:9001 ; removed quotes for CI unit testing. delete this line or add quotes to it if you're using it
; APP_URL="http://localhost:9001" connection is used with quotes
RESEND_API_KEY="re_your_api_key_here"
RESEND_FROM_EMAIL="yourinfo@verifiedDomain.com"
