MYSQL_HOST="mysql:host=localhost;dbname=fast_food"
MYSQL_USERNAME="root"
MYSQL_PASSWORD=""
APP_URL="http://localhost:9001"
RESEND_API_KEY="re_your_api_key_here"
RESEND_FROM_EMAIL="yourinfo@verifiedDomain.com"
