body {
    background-color: darkslategrey;
}

.container {
    margin: auto;
    padding-left: 0;
    padding-right: 0;
}

.form_index > div {
    padding-top: 5px;
    padding-bottom: 5px;
}

.topnav {
    background-color: gainsboro;
}

.error {
    background-color: indianred;
    border: 2px solid black;
    border-radius: 1em;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
}
.item_added {
    background-color: #5fe926e6;
    border: 2px solid black;
    border-radius: 1em;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
}
.login_message {
    background-color: #5fe926e6;
    border: 2px solid black;
    border-radius: 1em;
    padding: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 4px;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 425px) {
    .hide_mobile_large {
        display: none !important;
    }
}

