body {
    background-color: darkslategrey;
}

.container {
    margin: auto;
    padding-left: 0;
    padding-right: 0;
}

.form_index > div {
    padding: 10px;
}

.menu_result_div {
    color: darkslategrey;
    background-color:#97979778;
    border-radius: 10px;
    border: 2px solid black;
    padding: 10px;
    margin-top: 5px;
}

.topnav {
    background-color: gainsboro;
}

.error {
    background-color: indianred;
    border: 2px solid black;
    border-radius: 1em;
    padding: 5px;
    margin-top: 5px;
    font-weight: bold;
    text-align: center;
}
.item_added {
    background-color: #5fe926e6;
    border: 2px solid black;
    border-radius: 1em;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
}
